<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}

  <body class="theme-base-08">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>

            {% for page in site.pages_list %}
             &nbsp;&nbsp;&nbsp;<small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>
             {% endfor %}

           </h3>
        </div>
      </div>

      <div class="container content">

        {{ content }}
        {% include comments.html %}


      </div>


    </div>

    <center>
    <div class="footer" >
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>
    <center>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script id="dsq-count-scr" src="//nidafarooqui.disqus.com/count.js" async></script>
    <script src="//my.hellobar.com/58c16f3a6ff4868bf1de3bd7262f37f6685c7593.js" type="text/javascript" charset="utf-8" async="async"></script>
  </body>
</html>
